/.classpath
/.settings
/.project
/target
/api/.classpath
/api/.settings
/api/.project
/api/target
/omod/.classpath
/omod/.settings
/omod/.project
/omod/target


*.idea
*.iml
*.sass-cache
*.DS_Store

# Package Files #
*.jar
*.war
*.ear

# SASS
*.css
*.css.map
omod/node
omod/node_modules
omod/src/main/webapp/resources/styles/lib/
omod/src/main/compass/
omod/.rubygems
omod/.rubygems-provided
